<%= form_with model: @user, local: true do |f|  %>

    
        <div class="row">
            
            <div class="w-100"> </div> 
            
                <div class="col-12 col-md-5">

                    <p>   
                        <%= f.label :name, "Nombre" %>
                        <%= f.text_field :name, class: 'form-control' %>
                    </p>

                    
                    <p>
                        <%= f.label :last_name, "Apellido" %>
                        <%= f.text_field :last_name, class: 'form-control'  %>
                    </p>

                    <p>
                        <%= f.label :rut, "Rut" %>
                        <%= f.number_field :rut, class: 'form-control'  %>
                    </p>
                    
                    <p>
                        <%= f.label :age, "Edad" %>
                        <%= f.number_field :age, class: 'form-control'  %>
                    </p>

                    <p>
                        <%= f.label :phone, "Fono" %>
                        <%= f.number_field :phone, class: 'form-control'  %>
                    </p>
                </div>


                <div class="col-12 col-md-5">

                    <p>
                        <%= f.label :email, "Correo electrónico" %>
                        <%= f.text_field :email, class: 'form-control'  %>
                    </p>


                    <p>
                        <%= f.label :isapre_actual, "Su Isapre actual" %>
                        <%= f.text_field :isapre_actual, class: 'form-control'  %>
                    </p>

                    
                    <p>
                        <%= f.label :city_id, "Ciudad" %>
                        <%= f.select :city_id, options_for_select(City.all.map{|c|[c.city, c.id]}), {}, class: 'form-control' %>    

                        <%# <%= f.select :city_id, [["Selecciona"],["Santiago", 1],["Rancagua", 2],
                            ["Chillán", 3]], {}, class: 'form-control'%> 
                    </p>    


                    <p>
                        <%= f.label :gender, "Femenino" %>
                        <%= f.radio_button :gender, "Femenino" %>
                        <%= f.label :gender, "Masculino" %>
                        <%= f.radio_button :gender, "Masculino" %>
                    </p>
                        
                    
                    <p>
                        <%= f.label :salary, "Renta Bruta Aproximada" %>
                        <%= f.text_field :salary, class: 'form-control', placeholder: '$' %>
                    </p>
                        
                    <p>
                        <%= f.submit "Enviar", class: 'btn btn-primary'  %>
                    </p>
                
                </div>
            
            <div class="w-100"> </div>
        
        </div>
    
<% end %>