<div class="jumbotron-fluid main-header">
    <div class="container">
        <h1> COTIZA CON NOSOTROS</h1>
        <h1> tu próximo plan de salud</h1>
    </div>
</div>

<div class="w-100"> </div>

<div class="container">

    <div class="row">

        <div class="col-1 col-md-2">
            
        </div>

        <div class="col col-md-9">
            
            <%= image_tag 'logo-banmedica.png', class: 'logos-isapres', alt: 'banmedica' %>
            <%= image_tag 'logo-colmena.png', class: 'logos-isapres', alt: 'colmena' %>
            <%= image_tag 'logo-consalud.png', class: 'logos-isapres', alt: 'consalud' %>
            <%= image_tag 'logo-cruz-blanca.png', class: 'logos-isapres', alt: 'cruz blanca' %>
            <%= image_tag 'logo-nueva-mas-vida.png', class: 'logos-isapres', alt: 'consalud' %>
            <%= image_tag 'logo-vida-tres.png', class: 'logos-isapres', alt: 'vida tres' %>

        </div>

        
    
    </div>    

    
    <div class="w-100"> </div>
    
    
    <div class="row">

        <div class="col-md-7">
    
            <h1> Un solo lugar donde encontrarás el plan e Isapre que más se ajuste a tus necesidades</h1>
        
        </div>

    </div>

    
    <div class="w-100"> </div>
    
    
    <div class="row">
        
        <div class="col-md-4">
            
            <div class="card">
                <!-- <img class="card-img-top" src="images/card1.jpg" alt="Card image cap">-->
                <%= image_tag 'card1.jpg', class: 'card-img-top', alt: 'card1' %>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a href="#" class="btn btn-primary">Más información</a>
                </div>
            </div>
        </div>    

        <div class="col-md-4">
            <div class="card">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <%= image_tag 'card2.jpg', class: 'card-img-top', alt: 'card2' %>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a href="#" class="btn btn-primary">Más información</a>
                </div>
            </div>
        </div>

            
        <div class="col-md-4">
            <div class="card">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <%= image_tag 'card3.jpg', class: 'card-img-top', alt: 'card3' %>
                <div class="card-body">
                    <h5 class="card-title">En qué deberías fijarte para eligir una isapre?</h5>
                    <p class="card-text">Antes de elegir, debes evaluar para establecer concretamente:

                    Cuáles son tus necesidades particulares y recurrentes de servicios de salud, por ejemplo, <b>cuáles son las enfermedades que afectan a tu grupo familiar más habitualmente</b>, <b>a qué establecimientos de salud prefieres acudir</b>, <b>existen enfermedades crónicas</b> que deban estar especialmente cubiertas.
                    </p>
                    <a href="#" class="btn btn-primary">Más información</a>
                </div>
            </div>

        </div>

    </div>

</div>        

    
<div class="w-100"> </div>

    

<!-- Aquí comienza el formulario-->
<div class="jumbotron-fluid background-form">
    
    <div class="container">

         <%= render 'users/formNew' %> 
                
    </div>    

</div>
<!-- Fin del formulario-->

<div class="w-100"> </div>

<div class="container">
    <div class="row">

        <div class="col-md-6">
            
            <h1> Buscas cambiar de Isapre o mejorar tu plan actual ? </h1>
        
        </div>


        <div class="col-md-6">

            <p> <b>Una amplia red de ejecutivos</b> a tu disposición para orientarte con las
            mejores opciones de planes de salud existentes en el mercado actual, totalmente personalizado. </p>

        </div>
    
    </div>
</div>

<div class="w-100"> </div>    

