<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <h3> <%= @user.name %> <%= @user.last_name %> </h3>
                </thead>

                <tr>     
                    <td> Sexo : <%= @user.gender %> </td>
                </tr>

                <tr>     
                    <td>  Rut : <%= @user.rut %> </td>
                </tr>

                <tr>     
                    <td> Edad : <%= @user.age %> </td>
                </tr>

                <tr>     
                    <td> Fono : <%= @user.phone %> </td>
                </tr>

                <tr>     
                    <td> Email : <%= @user.email %> </td>
                </tr>

                <tr>     
                    <td> Isapre Actual : <%= @user.isapre_actual %> </td>
                </tr>                        
                 
                <tr> 
                    <td> Sueldo Mayor a $1.000.000 : <%= @user.salary %> </td>
                </tr>
                 
                <tr>
                    <td> Ciudad : <%= @user.city_id %> </td>
                </tr>
                
                <tr>    
                    <td> <p> Registrado hace: <%= time_ago_in_words @user.created_at %> </p> </td>
                </tr>

            </table>
        </div>
    </div>
</div>