<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <h3> <%= @user.name %> <%= @user.last_name %> </h3>
                </thead>

                <tr>     
                    <td> <%= @user.gender %> </td>
                </tr>    
                 
                <tr> 
                    <td> Sueldo Mayor a $1.000.000: <%= @user.salary %> </td>
                </tr>
                 
                <tr>
                    <td> <%= @user.city_id %> </td>
                </tr>
                
                <tr>    
                    <td> <p> Registrado hace: <%= time_ago_in_words @user.created_at %> </p> </td>
                </tr>

            </table>
        </div>
    </div>
</div>